name: Test App

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-app:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ 'stable' ]

    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
    
    - name: Vet
      run: go vet ./...

    - name: Test
      run: go test -race -v ./...
